API_PORT=8080
CLICKUP_LIST_ID=901219499626
CONVERSATION_EXPIRATION_MINUTES=60
CRAWL_CACHE_HOURS=24
CRAWL_RESULTS_CAP=300
LLM_PROVIDER=ollama
#OLLAMA_MODEL=gemma4:e4b
OLLAMA_MODEL=qwen2.5:3b
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4-nano
OPENAI_URL=https://api.openai.com/v1
RUST_LOG=INFO
TOKEN_EXPIRATION_MINUTES=5
UPLOAD_NOTIFY_EVERY_MINUTES=5
WEBSOCKET_PORT=3000

CLICKUP_API_KEY=
TURNSTILE_SECRET_KEY=
